PORT=2000

MONGO_URI=

GEOCODER_API_KEY=

JWT_ACCESS_SECRET=JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=JWT_REFRES_SECRET
JWT_EMAIL_SECRET=JWT_EMAIL_SECRET

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM="My App <no-reply>@myapp.com>"

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

APP_URL=http://localhost:2000